#splash{
	position: absolute;
	top: 0;
	bottom: 0;
	inset-inline: 0;
	transform-origin: bottom;
	display: flex;
	
	background-color: rgba(255, 255, 255, 0.801);
	/* background-image: url('/works-assets/material-assets/Chris website12.png'); */
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-blend-mode:color ;
	
	user-select:contain;
	pointer-events:visible;
	cursor:progress;
	z-index: 20000;
	backdrop-filter: blur(30px) drop-shadow(rgba(105, 98, 63, 0.181) 0px 28px 10px);
	/* animation: Blur 2s 5s both, move 2s 3s forwards; */
	animation: Blur 2s .5s forwards;

	&[data-splash-skip="true"] {
    display: none;
  }
}

#splash > :nth-child(n){
	flex: 1 1 auto;
	height: stretch;
	/* padding: 20%; */
	/* background-color: rgba(0, 255, 255, 0.207); */
	/* border: solid salmon 3px; */

	&:nth-child(2){
		flex: 1 1 70dvw;
		/* background-color: red; */
	}
}

#splash .profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	view-transition-name: header-figure;
}

#splash .profile img{
	width: 100%;
	height: auto;
}

@keyframes Blur {
	13%{backdrop-filter: blur(5px);}
	23%{backdrop-filter: blur(3px);}
	53%{backdrop-filter: blur(5px);}
	90%{backdrop-filter: blur(5px);}
	98%{ 
		backdrop-filter: blur(1px);
		opacity: 0;
		background-color: #00000000;
		}
	100%{ 
		backdrop-filter: blur(0px);
		opacity: 0;
		display: none;
		background-color: #00000000;
		}
}

@keyframes move {
	50%,95%{bottom:95lvh;}
	100%{
		z-index: 0;
		bottom: 95lvh;
	}
}

#splash .profile{
		position: relative;
		view-transition-name: header-figure;
		isolation: isolate;

		picture{
			border:solid red;
			width: 250px;
			height: 250px;
		}

		& img{
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			animation: sway 10s linear infinite .2s backwards ;
		}

		.flower{
			position: relative;
			aspect-ratio: 1;
			--g:/25.486% 25.486% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
			mask: 100% 50% var(--g),88.302% 82.139% var(--g),58.682% 99.24% var(--g),25% 93.301% var(--g),3.015% 67.101% var(--g),3.015% 32.899% var(--g),25% 6.699% var(--g),58.682% 0.76% var(--g),88.302% 17.861% var(--g),radial-gradient(100% 100%,#000 35.01%,#0000 calc(35.01% + 1px));
			scale: 1;
			transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
			/* animation: sway 10s linear infinite .5s backwards ; */
			/* view-transition-name: header-figure; */
			z-index: 3;

			

			/* &::after{
				content: '';
				position: absolute;
				display: inline-grid;
				place-content: center;
				inset: 0%;
				z-index: 0;
				isolation: isolate;
				background-color: #2c5d984f;
				mix-blend-mode:screen;

				--g:/25.486% 25.486% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
				mask: 100% 50% var(--g),88.302% 82.139% var(--g),58.682% 99.24% var(--g),25% 93.301% var(--g),3.015% 67.101% var(--g),3.015% 32.899% var(--g),25% 6.699% var(--g),58.682% 0.76% var(--g),88.302% 17.861% var(--g),radial-gradient(100% 100%,#000 35.01%,#0000 calc(35.01% + 1px));
				scale: 1;
				transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
				animation: sway 30s linear .5s backwards ;
			} */

		}
	}
